BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignOperands: 'true'
AlignTrailingComments: 'true'
BreakBeforeBraces: Attach
CompactNamespaces: 'false'
FixNamespaceComments: 'false'
NamespaceIndentation: All
PointerAlignment: Left
UseTab: Always
IndentWidth: 4
TabWidth: 4
AlwaysBreakTemplateDeclarations: 'Yes'

BraceWrapping:
  AfterClass: true
  SplitEmptyRecord: false
